name: Generate and Publish Pages

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  schedule:
    - cron: '55 * * * *'
    - cron: '25 * * * *'

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - run: python -m pip install -r requirements.txt
      - run: python spaghetti.py home 45.7256 12.6897

  job2:
    runs-on: ubuntu-latest
    needs: job1
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - run: python -m pip install -r requirements.txt
      - run: sleep 60 && python spaghetti.py cs 45.7585 12.8447

  job3:
    runs-on: ubuntu-latest
    needs: job2
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - run: python -m pip install -r requirements.txt
      - run: sleep 60 && python spaghetti.py rugby 45.6956 12.7102
